*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
@media(min-width:992px)
{
.col-lg-4{
	width: 33.33%;
	float: left;
}
#m1{
	margin-left:20px;
	margin-right: 10px;
}
#m2{
	margin-left: 10px;
	margin-right: 10px;
}
#m3{
	margin-left: 10px;
	margin-right: 20px;
}
}

@media(min-width:768px) and (max-width:991px)
{
.col-md-6{
	width: 50%;
	float: left;
}
#s3{
	width: 100%;
}
#m1{
	margin-left:20px;
	margin-right: 10px;
}
#m2{
	margin-left: 10px;
	margin-right: 20px;
}
#m3{
	margin:20px;
}
}
@media(max-width:767px)
{
.col-sm-12{
	width: 100%;
	float: left;
}
#m1,#m2,#m3{
	margin:20px;
}
}
.mainContainer{
	width:100%;
}
.subContainer{
	border:1px solid black;
	font-family: serif,sans-serif;
	background-color:#bdb8b8;
	padding:2%;
	padding-top: 7%;
	position: relative;
}

.menuItemTitle{
	border: 1px solid black;
	position: absolute;
	top:0;
	right: 0;
	width: 100px;
	font-size: 1.25em;
	font-weight: bold;
}
h1{
	text-align: center;
	margin-bottom: 25px;
	margin-top: 30px;
	font-size: 1.75em;
}

#title1{
		background-color: pink;
	}
#title2{
	background-color: red;
	color: #ffffff;
}
#title3{
	background-color: yellow;
	}